# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.venv/
env/
ENV/

# Environment variables
.env

# Flask instance folder
instance/

# Distribution / packaging
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Tailwind
node_modules/

# Logs
*.log
